/* paramètres généraux */
body
{
    font-family: 'Oswald', sans-serif;
}
/*  header  */
header p, header h1
{
    text-align: center;
}
header h1
{
    font-size: 3em;
    border-top: 2px solid rgb(165, 34, 34);
    border-bottom: 2px solid rgb(165, 34, 34);
    padding-bottom: 5px;
}
header span
{
    display: inline-block;
    font-size: 0.3em;
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 5px;
}
/* article */
article
{
    background-color:  rgb(235, 235, 235);
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
}
h2, h3, figure
{
    text-align: center;
}
article img
{
    height: 55px;
}
#separateur /* séparateur */
{
  border-bottom:  1px solid black;
  padding-bottom: 20px;
}
article em
{
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
}
h3
{
    color:rgb(165, 34, 34);
}

