/* paramètres généraux */
body
{
    font-family: 'Oswald', sans-serif;
}
/*  header  */
header p, header h1
{
    text-align: center;
}
header h1
{
    font-size: 3em;
    border-top: 2px solid rgb(165, 34, 34);
    border-bottom: 2px solid rgb(165, 34, 34);
    padding-bottom: 5px;
}
header span
{
    display: inline-block;
    font-size: 0.3em;
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 5px;
}
/* article */
article
{
    background-color:  rgb(240, 240, 240);
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
}
article h2, article h3, article figure
{
    text-align: center;
}
article img
{
    height: 55px;
}
#separateur /* séparateur */
{
  border-bottom:  1px solid black;
  padding-bottom: 20px;
}
article em
{
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
}
h3
{
    color:rgb(165, 34, 34);
}
/* Aside principaux acteurs */
#aside1
{
    text-align: center;
}

#acteurs p a
{
text-decoration: none;
color:inherit;
text-transform: uppercase;
}
#acteurs p
{
background-color: rgb(240, 240, 240);
margin-left: 150px;
margin-right: 150px;
padding-top: 3px;
padding-bottom: 3px;
margin-top: 5px;
margin-bottom: 5px;
border-radius: 15px;
color:rgb(165, 34, 34);
}

#acteurs p a:hover
{
    color:rgb(240, 240, 240);
}
#acteurs p:hover
{
    background-color:  rgba(165, 34, 34, 0.884);
    color:rgb(240, 240, 240);
}

/* aside images de la série */

.element img
{
    
    width: 200px;
    
}